Source: ros-noetic-fkie-node-manager
Section: misc
Priority: optional
Maintainer: Alexander Tiderko <alexander.tiderko@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-diagnostic-msgs, ros-noetic-fkie-master-discovery, ros-noetic-fkie-multimaster-msgs, ros-noetic-fkie-node-manager-daemon
Homepage: http://ros.org/wiki/node_manager_fkie
Standards-Version: 3.9.2

Package: ros-noetic-fkie-node-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-docutils, python3-paramiko, python3-pycryptodome, python3-pyqt5.qtwebkit, python3-ruamel.yaml, ros-noetic-diagnostic-msgs, ros-noetic-dynamic-reconfigure, ros-noetic-fkie-master-discovery, ros-noetic-fkie-master-sync, ros-noetic-fkie-multimaster-msgs, ros-noetic-fkie-node-manager-daemon, ros-noetic-python-qt-binding, ros-noetic-rosgraph, ros-noetic-roslaunch, ros-noetic-roslib, ros-noetic-rosmsg, ros-noetic-rospy, ros-noetic-rosservice, ros-noetic-rqt-gui, ros-noetic-rqt-reconfigure, screen, xterm
Replaces: ros-noetic-node-manager-fkie
Description: Graphical interface, written in PySide, to manage the running and configured ROS nodes on different hosts.
 For discovering the running ROS master master_discovery node will be used.
