Source: ros-noetic-fkie-master-discovery
Section: misc
Priority: optional
Maintainer: Alexander Tiderko <alexander.tiderko@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-fkie-multimaster-msgs, ros-noetic-std-srvs
Homepage: http://ros.org/wiki/master_discovery_fkie
Standards-Version: 3.9.2

Package: ros-noetic-fkie-master-discovery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, avahi-daemon, ros-noetic-fkie-multimaster-msgs, ros-noetic-rosgraph, ros-noetic-roslib, ros-noetic-rospy, ros-noetic-std-srvs
Description: Discover the running ROS Masters in local network.
 The discovering is done by sending an echo heartbeat messages to a defined multicast group. The alternative is to use a zeroconf/avahi daemon to register the ROS master as service and discover other ROS masters.
